{% extends 'base.html' %} {% block content %}
<table class="table my-5">

    <thead>
      <tr>
        <th scope="col" style="padding-left: 30px;">Name</th>
        <th scope="col">Work Day</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
      </tr>
    </thead>
    <tbody>
      
      {% for i in time_slot_data %} 
      <tr>
        <td style="padding-left: 30px; ">{{i['first_name']}} {{i['last_name']}}</td>
        <td>{{i['work_day']}}</td>
        <td >{{i['start_time']}}</td>
        <td>{{i['end_time']}}</td>
      </tr>
      {% endfor %}

      



      <!-- <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->

    </tbody>
  </table>
{% endblock %}