<style>
.poster {
  position: relative;
}
.centered {
  position: absolute;
  top: 11%;
  left: 67%;
  transform: translate(-50%, -50%);
}
</style>


{% extends 'base.html' %} {% block content %}
<div class="poster">
  <!-- <div class="row"> -->

    <div class="header" style="height: 500px;">
      <img src={{ url_for('static',filename="homepage.jpeg") }} 
          style="object-fit:fill;"/>
      <div class="centered" >
          <h1 style="font-size: 270%; color: #dbc7a0;">Fredie-And-Friends Cafe</h1>
          <h4 style="font-size: 150%; color: #968160;"> Best place for getting new experience.</h4>
      </div>

      <a class="btn" 
      href="{{ url_for('menu') }}"
      style="  
        position: absolute;
        top: 42%;
        left: 87%;
        transform: translate(-50%, -50%);
        color: #ffe7b7;
        font-size: 28px;"
      >
        Order Now
      </a> 
    </div>

      <div class="card text-center" style="width: 900px; margin: 40px; margin-left: auto; margin-right: auto;">
        <div class="card-body" style="color: #603b13;">
          <h3 class="card-title" >WHO ARE WE</h3>
          <hr>
          <p class="card-text">Fredie-And-Friends Café was founded and eponymously named by Fredie and his two friends,
          Robert and Yang. With the intentions of providing the most comfortable and enjoyable experience,
          we have finely tuned our café to pass even the most rigorous vibe checks. Our customers are our priority, so
          expect to have your best café experience yet. You'll like it, Picasso</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <small class="card-text">Fredie-And-Friends Cafe</small>
        </div>
      </div>

  <!-- </div> -->
</div>
{% endblock %}
