<style>
.poster {
  position: relative;
}
.centered {
  position: absolute;
  top: 10%;
  left: 26%;
  transform: translate(-50%, -50%);
}
</style>


{% extends 'base.html' %} {% block content %}
<div class="poster">
  <!-- <div class="row"> -->

    <div class="header" style="height: 500px;">
      <img src={{ url_for('static',filename="poster.jpeg") }} 
          style="object-fit:fill;
            display: block;
            padding-bottom: 30px;
            max-height:500px;
            width: 100%;"/>
      <div class="centered" >
          <h1 style="font-size: 300%; color: #dbc7a0;">Fredie-And-Friends Cafe</h1>
          <h4 style="font-size: 150%; color: #7f6b4b;"> Best place for getting new experience.</h2>
      </div>

      <a class="btn" 
      href="#"
      style="  
        position: absolute;
        top: 45%;
        left: 80%;
        transform: translate(-50%, -50%);
        color: #d7c196;
        font-size: 28px;"
      >
        Order Now
      </a> 
    </div>

      <div class="card text-center" style="width: 1200px; margin: 40px; margin-left: auto; margin-right: auto;">
        <div class="card-body" style="color: black;">
          <h3 class="card-title" >WHO ARE WE</h3>
          <hr>
          <p class="card-text">Fredie-And-Friends Cafe is the cafe the form with two friends and Fredie.</p>
          <p class="card-text">Our intention for open this cafe is to mkae the people enjoy their drink with care </p>
          <p class="card-text">to have the costomer come out from their home or office to our shop.</p>
          <p class="card-text">To change the enviroment meeting new people change the mood.</p>
            <p class="card-text"></p> Our priority is our customers have good exsotic experience with us</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <small class="card-text">Fredie-And-Friends Cafe</small>
        </div>
      </div>

  <!-- </div> -->
</div>
{% endblock %}
