{% extends 'base.html' %} {% block content %}
<div class="row my-5 ">
<div class="card text-center" style="width: 900px; margin: 40px; margin-left: auto; margin-right: auto; padding: 0px;">
    <div class="card-header">
      <h2>MENU</h2>
    </div>
    <div class="card-body">
      <form method="POST">
      <table class="table my-5">    
        <thead>
            <tr>
                <th scope="col" style="width: 360px;"></th>
              <th scope="col" style="width: 360px;">Product Name</th>
              <th scope="col" style="width: 360px;">Price Per Unit</th>
              <th scope="col" style="width: 360px;">Amount</th>
  
            </tr>
          </thead>    
      <h4 class="card-title">Coffee</h4>
        {% for i in menu %} 
          <tbody>
            <tr>
                {% if i['product_name'] == 'espresso' %}
                <td><img src={{ url_for('static',filename="espresso.png") }} alt="" width="100" height="100"></td>
                {% elif i['product_name'] == 'cappuccino' %}
                <td><img src={{ url_for('static',filename="cappuccino.png") }} alt="" width="100" height="100"></td>
                {% elif i['product_name'] == 'latte' %}
                <td><img src={{ url_for('static',filename="latte.png") }} alt="" width="100" height="100"></td>
                {% elif i['product_name'] == 'hot chocolate' %}
                <td><img src={{ url_for('static',filename="hotchoco.png") }} alt="" width="100" height="100"></td>
               {% elif i['product_name'] == 'iced chocolate' %}
                <td><img src={{ url_for('static',filename="iced.png") }} alt="" width="100" height="100"></td>
               {% elif i['product_name'] == 'caramel macchiato' %}
                <td><img src={{ url_for('static',filename="machi.png") }} alt="" width="100" height="100"></td>
                {% endif %}
              <td>{{i['product_name']}}</td>
              <td>{{i['price_per_unit']}}</td>
              <td>
                  <input type="number" min="0" name="{{i['product_name']}}" class="form-control">
              </td>
            </tr>
          </tbody>
        {% endfor %}

        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="card-footer text-muted">
        Fredie-And-Friends Cafe
    </div>
  </div>
</div>


{% endblock %}

<script>
export default {
    data () {
        return {
            num: 1
        }
    }
}
</script>
