{% extends 'base.html' %} {% block content %}
<div
  class="shadow p-3 mb-5 bg-body rounded"
  style="margin: 40px 40px 40px 40px"
>
  <form method="POST">
    <div class="mb-3">
      <label for="first_name" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
        required
      />
    </div>
    <div class="mb-3">
      <label for="last_name" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="last_name" required name="last_name" maxlength ="30"/>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">User name</label>
      <input type="text" class="form-control" id="username" required name="username" maxlength ="30"/>
    </div>

    <div class="mb-3">
      <label for="date_of_birth" class="form-label">Date of birth</label>
        <input id="date_of_birth" class="form-control" type="date" name="date_of_birth" required value="{{today}}" />
        <span id="date_of_birthSelected"></span>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        aria-describedby="emailHelp"
        maxlength ="300"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class = "mb-3">
      <label for="address_line" class="form-label">Address Line</label>
      <input
        type="text"
        class="form-control"
        name="address_line"
        required
        maxlength ="600"
      </input>
    </div>

    <div class = "mb-3">
      <label for="zip_code" class="form-label">Zip Code</label>
      <select class="form-select" id="zip_code" name="zip_code"required>
        {% for item in zip_codes%}
        <option value="{{item['zip']}}">{{item['zip']}}</option>
        {% endfor %}
      </select>
    </div>

    <div class = "mb-3">
      <label for="city" class="form-label">City</label>
      <select class="form-select" id="city" name="city" required>
        {% for item in cities %}
        <option value="{{item}}">{{item}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirm_password"
        name="confirm_password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
