{% extends 'base.html' %} {% block content %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{ url_for('static',filename="user.png") }}"><span class="font-weight-bold">{{session['username']}} </span><span class="text-black-50">{{session['userEmail']}} </span><span> </span></div>
        </div>
        
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form method="POST">
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Name</label>
                        <input type="text" name="first_name" class="form-control" required placeholder="first name" value="{{session['firstName']}}" maxlength ="20">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Surname</label>
                        <input type="text" name="last_name" class="form-control" required value="{{session['lastName']}}" placeholder="last name" maxlength ="20">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Username</label>
                        <input type="text" name="username" class="form-control" required placeholder="username" value="{{session['username']}}" maxlength ="20">
                    </div>

                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input type="text" name="email_address" class="form-control" required placeholder="email" value="{{session['userEmail']}}" maxlength ="300">
                    </div>

                    {% if session['userroleid']|int != 3 %}
                    <div class="col-md-12">
                        <label class="labels">Address Line</label>
                        <textarea class="form-control" name="address_line" required placeholder="enter address line" maxlength ="30">{{address_line}}</textarea>
                    </div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="zip_code" class="form-label">Zip Code</label>
                        <select class="form-select" id="zip_code" name="zip_code"required>
                          {% for item in zip_codes%}
                          <option value="{{item['zip']}}">{{item['zip']}}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label">City</label>
                        <select class="form-select" id="city" name="city"required>
                          {% for item in cities %}
                          <option value="{{item}}">{{item}}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>

                {% endif %}
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                </div>
                </form>
            </div>
        </div>

    </div>
</div>
</div>
</div>

{% endblock %}